body {
  background-color: #babababd;
}

main {
  min-height: 80vh;
}

form {
  width: 60vh;
}

.card {
  width: 18rem;
  height: auto;
  transition: 0.5s;
  text-decoration: none;
}

.card:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

img {
  object-fit: cover;
  width: auto;
  height: 200px;
}